<h1>Editing Membership</h1>

<%= render 'form', membership: @membership %>

<%= link_to 'Show', @membership, class: 'btn btn-default' %> |
<%= link_to 'Back', memberships_path, class: 'btn btn-default' %>
