<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Top <%= o.first.class.name.demodulize.pluralize %></h2>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <% o.each do |o| %>
          <li class="list-group-item">
            <%= link_to o.name, o %>
            <span class="badge badge-primary"><%= round(o.average_rating) %></span>
          </li>
      <% end %>
    </ul>
  </div>
</div>
