<h2>List of ratings</h2>
<%= "Number of ratings: #{@ratings.count}" unless @ratings.empty? %>
<ul class="list-group">
  <% @ratings.each do |rating| %>
      <li class="list-group-item">
        <%= rating %>
        <%= link_to rating.user.username, rating.user, class: 'label label-primary pull-right' %>
      </li>
  <% end %>
</ul>
<%= link_to 'New Rating', new_rating_path, class: 'btn btn-primary btn-block' %>
