<h2>List of ratings</h2>
<%= "Number of ratings: #{@ratings.count}" unless @ratings.empty? %>
<ul>
  <% @ratings.each do |rating| %>
      <li> <%= rating %> <%= link_to rating.user.username, rating.user %> </li>
  <% end %>
</ul>
<%= link_to 'New', new_rating_path %>
