<p id="notice"><%= notice %></p>

<h1>Listing breweries</h1>

<table id="brewerytable" class="table table-hover">
  <tr>
    <th> <a href="#" id="name">Name</a> </th>
    <th> <a href="#" id="year">Year</a> </th>
    <th> <a href="#" id="beers">Beers</a> </th>
    <th>Active</th>
  </tr>
</table>

<%= link_to 'New Brewery', new_brewery_path, class: 'btn btn-primary btn-block' %>
<%= link_to 'List of beers', beers_path, class: 'btn btn-default btn-block' %>