<h1>Listing breweries</h1>

<table id="brewerytable" class="table table-hover">
  <tr>
    <th> <a href="#" id="name">Name</a> </th>
    <th> <a href="#" id="year">Year</a> </th>
    <th> <a href="#" id="beers">Beers</a> </th>
    <th>Active</th>
  </tr>
</table>